<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사원정보 목록</title>
    <style>
        table {border:1px solid black; border-collapse: collapse; border-spacing: 0;}
        th,td{padding: 0.2em 1em; border-right: 1px solid black;}
        th{border-bottom: 3px double black;}
        td{border-bottom: 1px solid black;}
    </style>
</head>
<body>
<h3>사원정보 목록</h3>
<table>
    <tr><th>사번</th><th>이름</th><th>직무</th></tr>
    <tr th:each="e:${emps}">
        <td>[[${e.empno}]]</td>
        <td>
            <a th:href="@{emps/Detail/{empno}(empno=${e.empno})}" th:text="${e.ename}"></a>
        </td>
        <td>[[${e.job}]]</td>
    </tr>
</table>
<a href="emps/addForm"><button >사원 정보 추가</button></a>

</body>
</html>

<!--/*
 e:${emps} 영역에 들어가 e라는 변수로 표현됨
 타임리프는 jsp의 한계점을 극복하여 나옴

 */-->